@model carShop.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this car?</h3>

<div>
    <h4>Car Details</h4>
    <hr />

    <dl class="dl-horizontal">

        <!-- CATEGORY -->
        <dt>Category</dt>
        <dd>
            @(Model.Category != null ? Model.Category.Name : "No Category")
        </dd>

        <!-- NAME -->
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <!-- DESCRIPTION -->
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <!-- PRICE -->
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <!-- IMAGE -->
        <dt>Image</dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="~/Images/@Model.ImagePath"
                     width="200"
                     height="130"
                     class="img-thumbnail" />
            }
            else
            {
                <span>No Image</span>
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null,
                new { @class = "btn btn-default" })
        </div>
    }
</div>