@model carShop.Models.Car
@using System.Globalization

@{
    ViewBag.Title = "Details";
}

<h2>Car Details</h2>

<div>
    <h4>Car Information</h4>
    <hr />

    <dl class="dl-horizontal">

        <!-- IMAGE -->
        <dt>Image</dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="~/Images/@Model.ImagePath"
                     width="250"
                     height="160"
                     class="img-thumbnail" />
            }
            else
            {
                <span>No Image Available</span>
            }
        </dd>

        <!-- CATEGORY -->
        <dt>Category</dt>
        <dd>
            @(Model.Category != null ? Model.Category.Name : "No Category")
        </dd>

        <!-- NAME -->
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <!-- DESCRIPTION -->
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <!-- PRICE -->
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @String.Format(new System.Globalization.CultureInfo("en-ZA"), "{0:C}", Model.Price)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID },
        new { @class = "btn btn-primary" })

    @Html.ActionLink("Back to List", "Index", null,
        new { @class = "btn btn-default" })
</p>